---
import { ForgotPasswordForm } from "../components/ForgotPasswordForm";
import Layout from "../layouts/Layout.astro";

// Nie implementujemy jeszcze logiki - to przyjdzie w kolejnym etapie
export const prerender = false;
---

<Layout title='Przypomnij hasło - MIMO'>
  <main
    class='min-h-screen bg-gradient-to-br from-primary/5 via-background to-secondary/10 flex items-center justify-center p-4'>
    <div class='w-full'>
      <ForgotPasswordForm client:load />
    </div>
  </main>
</Layout>
